:root{ 
    --scoreboard-font-size:1.5rem;
    --scoreboard-header-size:3.875rem;
    --box-font-size: 8.875rem;
    --footer-font-size:2.5rem;
}

@media (max-width: 1280px) {
    :root{
        --scoreboard-font-size:1.5rem;
        --scoreboard-header-size:3rem;
        --box-font-size: 6.875rem;
        --footer-font-size:2rem;
    }
}

@media (max-width: 992px){
    :root{
        --scoreboard-font-size:1.5rem;
        --scoreboard-header-size:3.875rem;
        --box-font-size: 5.875rem;
        --footer-font-size:2.5rem;
    }
}

@media (max-width: 600px){
    :root{
        --scoreboard-font-size:1.5rem;
        --scoreboard-header-size:2.875rem;
        --box-font-size: 4.875rem;
        --footer-font-size:2.0rem;
    }
}


body{
    background-color:rgba(255, 220, 179, 0.822);
}
.container{
    background-color:rgba(255, 220, 179, 0.253);
}
.scoreboard{
    justify-content: space-evenly;
    display:flex;
    font-size:var(--scoreboard-font-size);
    text-align:center;
    font-weight:bold;
  }

#board-head{
    text-align:center;
    font-size:var(--scoreboard-header-size);
    padding-bottom:20px;
    margin-top:-55px;
    font-weight:bold;
}

#container-board{
    border: solid black 5px;
    width:40%;
    margin: 0 auto;
    box-shadow: 15px 10px 0px #494949;
    background-color:white;
}

#row-1, #row-2, #row-3{
    display:flex;
}

.box {
    border: solid black 5px;
    width:33%;
    height:160px;
    text-align:center;
    padding: 25px 0;
    font-size:var(--box-font-size);
    cursor: pointer;
    font-weight:bold;
}

.box:hover {
    box-shadow: 0px 0px 15px #000000,
    0px 0px 15px #000000,
    0px 0px 15px #000000;

}

#board-footer{
    text-align:center;
    font-size: var(--footer-font-size);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid black 2px;
    width: 200px;
    margin: 1% auto;
    box-shadow: 2px 5px 2px #333333;
    background-color:white;
    font-weight:bold;
}

.winner{
    background-color: #a3a3a3;
}


@media screen and (max-width: 1280px) {
    #container-board{
    width:450px;
    }
    .box {
    height:120px;
    padding: 5px 0;
    }
    #board-head{
        margin-top:-130px;
    }
    .sideO{
        padding-right:680px;
    }
    #board-footer{
        margin: 2% auto;
    }
}
@media screen and (max-width:992px){
    #container-board{
        width:60%;
        box-shadow: 0px 0px 0px #494949;
        }
        .box {
            height:100px;
            padding: 25px 0;
            }
            #board-head{
            margin-top:50px;
            }
            .sideO{
                padding-right:0px;
            }
            #board-footer{
            box-shadow: 0px 0px 0px #494949;
            }
}
@media screen and (max-width:600px){
    #container-board{
        width:90%;
        }
        .box {
            height:85px;
            padding: 10px 0;
            }
            .scoreboard{
                display:none;
            }
            #board-head{
                margin-top:50px;
            }
            #board-footer{
                width:150px;
            }
}
